NODE_ENV=development
MONGO_LOCAL_URI=mongodb://localhost:27017/codex
MONGO_PROD_URI=your-atlas-url
NEXTAUTH_SECRET=generate-nextauth-secret
GOOGLE_CLIENT_ID=google-oauth-client-id
GOOGLE_CLIENT_SECRET=google-oauth-client-secret
NEXTAUTH_URL=http://localhost:3000
UPSTASH_REDIS_REST_URL=upstash-redis-url
UPSTASH_REDIS_REST_TOKEN=upstash-redis-token
NEXT_PUBLIC_SUPABASE_URL=supabase-url
GOOGLE_GEMINI_API_KEY=google-gemini-apikey
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase-anon-key